@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.class-shadow{
    /* background-color: red; */
    box-shadow: 0px 0px 10px 2px #4ade80;

}

.myImageCSS{
    @apply rounded-full w-64 h-64 relative ;
    box-shadow: 0px 0px 10px 2px #4ade80;
}
